*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kinta;
}
html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(rgba(8, 8, 8, 0.493),rgba(19, 18, 18, 0.932));

}
#full{
    height: 100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    background-color: pink;
    display: none;
    background-position: center;
    background-image: url();
    background-size: cover;

}
#full #footer{
    display: flex;
    gap: 30px;
    margin-top: 110%;
    padding: 10px 60px;
    align-items: center;
}
#footer i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
#foot2{
    display: flex;
    gap: 30px;
}
#footer h4{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 190px;
    padding-left: 10px;
    border-radius: 20px;
}
#full #nav1 h4{
    color: white;
    font-size: 16px;
    font-family: kinta;
}
#full #navv{
    display: flex;
    justify-content: space-between;
}
#full #nav1{
    display: flex;
    gap: 20px;
    align-items: center;
}
#full #loader{
    height: 2px;
    width: 100%;
    background-color: rgba(194, 184, 184, 0.688);
    overflow: hidden;
}
#full #loader #load{
    height: 2px;
    width:0% ;
    background-color: black;
}

#card{
    position: relative;
    height: 600px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.729);
    overflow-y:auto ;
    box-shadow: 10px 10px 80px 10px rgba(174, 164, 164, 0.599);
    
    
}
#card::-webkit-scrollbar{
    display: none;
}
#nav{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#nav img{
    height: 60px;
    cursor: pointer;
}
#nav2{
    display: flex;
    gap: 30px;
    align-items: center;
}
#nav2 i{
    font-size: 25px;
    cursor: pointer;
}

#storiya{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    padding: 10px;
    white-space: nowrap;
    overflow-x : auto;
    overflow-y: hidden;

}
#storiya::-webkit-scrollbar{
    display: none;
}
#foot #heart{
    transition: all ease .3s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.25);
    
}
.story{
    padding: 5px;
    text-align: center;
    /* background-color: blue; */
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    
    
}
#dp{
    height: 60px;
    width: 60px;
    background:linear-gradient(rgb(208, 49, 49),rgb(75, 75, 250),rgb(224, 83, 107));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 8px;
    
}
#dp img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.story h5{
    font-size: 10px;
}
#profiley{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: blue; */
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

#navv{
    height: 50px;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 10px;
    display: flex   ;
    align-items: center;
    gap: 10px;
}
#navv h4{
    font-size: 13px;
    color: black;
}
.gola{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background:linear-gradient(rgb(208, 49, 49),rgb(75, 75, 250),rgb(224, 83, 107));

}
#navv .gola img{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

}
#profiley img{
    height: 350px;
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
    background-color: black;
}
#foot{
    height: 9%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#foot1{
    display: flex;
    gap: 10px;
    align-items: center;
}
#foot i{
    font-size: 23px     ;
}